/******* GENERAL RESET *******/
html, body, div, header, nav, section, article, aside, footer, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td {
    border:0pt none;
    font-family:inherit;
    font-size: 100%;
    font-style:inherit;
    font-weight:inherit;
    margin:0pt;
    padding:0pt;
    vertical-align:baseline;
}

.clear {clear: both;}
a {font-size: 10pt; text-decoration: none; color: navy;}
a:hover {text-decoration: underline;}
a:visited {color: navy;}

body {
	background: #ccc;
	font-size: 12pt;
	font-family: Georgia;
}

#wrapper {
	width: 800px;
	margin: 0 auto;
	background: #fcfcfc;
	box-shadow: 0 -8px 30px 5px #888;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 5px;
}
#sidebar_wrapper {
	float: right;
	width: auto;
	text-align: right;
	height: auto;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	color: #333;
	background: #F0F0F0;
}

#post_wrapper {
	float: left;
	/* the width is dynamically set with jQuery in script.js */
	width: auto;
}
.post {
	/* the width is dynamically set with jQuery in script.js */
	width: auto;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	color: #333;
	background: #F0F0F0;
}
.post_links {text-align: right;}
.post_title {
	font-size: 15pt;
	font-weight: bold;
	margin-bottom: 5px;
}
.post_author {
	margin-left: 5px;
	font-size: 12pt;
	color: #333;
}
.post_author:hover {text-decoration: none; cursor: pointer;}
.post_message {
	margin: 10px 10px 0 0;
}
.post_created {
	font-size: 8pt;
}

/* LOGIN.php */
#login_form, #register_form {
	font-size: 16pt;
	
}
#login_form h2, #register_form h2, #create_post_form h2 {
	margin-bottom: 10px;
	text-shadow: 1px 1px 1px #ccc;
}
#login_form input, #register_form input {
	font-size: 16pt;
	font-family: Georgia;
}
#submit {
	width: 150px;
}
.alert {
	font-size: 18pt;
	color: red;
	text-shadow: 1px 1px 1px #ccc;
}
.hidden {
	display: none;
}
form span {
	color: #ccc;
	text-shadow: 1px 1px 1px #555;
}
#create_post_form {
	font-size: 16pt;
}
#create_post_form input[required] {
	width: 330px;
}
#create_post_form input, #create_post_form textarea {
	font-size: 16pt;
	font-family: Georgia;
}